ЗАДАНИЯ С БАЗОЙ ДАННЫХ:
1. Вытащите данные и найдите средний возраст клиентов из Минска
2. Выведите список всех клиентов с балансом больше 1000
3. Подсчитайте количество транзакций по каждому типу
4. Определите клиентов с наибольшими расходами (отрицательные суммы транзакций)
5. Топ-3 клиента по количеству транзакций
6. Выявление подозрительных операций, операции > n% от баланса

ЗАДАНИЯ С API:
1. Количество капсул каждого типа
2. Среднее время между первым и последним запуском
3. Капсулы без информации о запуске
4. Сравнение Dragon 1.0 и Dragon 1.1. Среднее кол-во повторного использования, среднее кол-во посадок

In [2]:
import pandas as pd
import sqlite3 
import requests

База данных

Средний возраст клиентов из Минска

In [9]:
with sqlite3.connect('database.db') as conn:
    df = pd.read_sql('SELECT * FROM main.clients', conn)

minsk_clients = df[df['city'] == 'Минск']
average_age = minsk_clients['age'].mean()
print(average_age)

31.5

Список клиентов с балансом > 1000

In [10]:
with sqlite3.connect('database.db') as conn:
    df = pd.read_sql('SELECT * FROM main.balance', conn)

high_balance = df[df['amount'] > 1000]
print(high_balance)

   client_id  amount
1          2    1500
3          4    2000
4          5    1200

Количество транзакций по типу

In [12]:
with sqlite3.connect('database.db') as conn:
    df = pd.read_sql('SELECT * FROM main.transactions', conn)

transactions = df['type'].value_counts()
print(transactions)

type
deposit       5
withdrawal    5
Name: count, dtype: int64

API 

Количество капсул каждого типа

In [14]:
with requests.Session() as session:
    response = session.get("https://api.spacexdata.com/v3/capsules")

df = pd.DataFrame(response.json())

capsules_types = df['type'].value_counts()
print(capsules_types)

type
Dragon 1.1    9
Dragon 2.0    6
Dragon 1.0    4
Name: count, dtype: int64

Капсулы без информации о запуске

In [6]:
with requests.Session() as session:
    response = session.get("https://api.spacexdata.com/v3/capsules")

df = pd.DataFrame(response.json())

no_launch_date_capsules = df[df['original_launch'].isna()]
no_launch_date_capsules

,capsule_serial,capsule_id,status,original_launch,original_launch_unix,missions,landings,type,details,reuse_count
16,C202,dragon2,active,None,NaN,[],0,Dragon 2.0,Capsule used to qualify Dragon 2's environment...,0
17,C203,dragon2,active,None,NaN,[],0,Dragon 2.0,Rumored to be used for Inflight Abort Test aft...,0
18,C204,dragon2,active,None,NaN,[],0,Dragon 2.0,Currently in construction for use in DM-2,0